doctype html
html
  head
    title Gestão de Processos de Equivalência
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.modal.min.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/datatables.min.css')
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/jquery.modal.min.js')
    script(src='/javascripts/datatables.min.js')
    script(src='/javascripts/equivalencias.js')
  body
    div(class="w3-container")
    block content
